name: GitHub-Readme-Stats

on:
  schedule:
    # Runs at 00:00 UTC on the 1st of every month
    - cron: '0 0 1 * *'
  workflow_dispatch:

jobs:
  stats:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout about repo
        uses: actions/checkout@v4
        with:
          path: main

      - name: Checkout custom fork
        uses: actions/checkout@v4
        with:
          repository: rxm7706/github-readme-stats
          path: github-readme-stats
          ref: master

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install dependencies for fork
        run: |
          cd github-readme-stats
          npm install
        shell: bash

      - name: Generate stats using custom script
        run: |
          cd main
          node scripts/generate-stats.js
        env:
          PAT_1: ${{ secrets.GH_TOKEN }}
          FETCH_MULTI_PAGE_STARS: "true"
        shell: bash
      
      - name: Commit and Push
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update GitHub Readme Stats (Custom Fork)"
          file_pattern: 'generated-stats/*.svg'
          repository: main
